:root {
  --rich-black-fogra-39: #070707ff;
  --english-violet: #553555ff;
  --old-lavender: #755b69ff;
  --cambridge-blue: #96c5b0ff;
  --magic-mint: #adf1d2ff;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background: var(--rich-black-fogra-39);
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 100%;
  width: clamp(40ch, 60ch, 100ch);
  max-width: 90%;
  margin: auto;
}

.root {
  width: 100%;
  padding: 2rem;
  background: var(--english-violet);
  color: var(--magic-mint);
}

.overlay {
  width: 300px;
  height: 300px;
  margin: auto;
  background: var(--magic-mint);
  display: grid;
  place-items: center;
}

table, th, td {
  border: 1px solid var(--magic-mint);
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}

dl {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: max-content max-content;

}

dt {
  grid-column: 1;
}

dd{
  grid-column: 2;
  white-space: nowrap;
}

h1 {
  margin-top: 0;
}